on:
  workflow_call:
    inputs:
      src:
        required: false
        type: string
        default: "."
      options:
        required: false
        type: string
        default: "-r"
      pip_install_command:
        required: false
        type: string
        default: "pip install bandit"
      py-version:
        required: false
        type: string
        default: "3.x"

jobs:
  bandit:
    name: "Perform security checks via bandit"
    runs-on: ubuntu-latest

    steps:
    - name: "Set up python ${{ inputs.py-version }}"
      uses: actions/setup-python@v2
      with:
        python-version: ${{ inputs.py-version }}

    - name: "Install dependencies"
      run: |
        python -m pip install --upgrade pip
        ${{ inputs.pip_install_command }}

    - name: "Run bandit"
      run: bandit ${{ inputs.src }} ${{ inputs.options }}
