on:
  workflow_call:
    inputs:
      src:
        required: false
        type: string
        default: "."
      options:
        required: false
        type: string
        default: ""
      pip_install_command:
        required: false
        type: string
        default: "pip install flake8"

jobs:
  flake:
    name: "Perform style guide enforcement via flake8"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v2

    - name: "Set up python ${{ matrix.python-version }}"
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: "Install dependencies"
      run: |
        python -m pip install --upgrade pip
        ${{ inputs.pip_install_command }}

    - name: "Run flake8"
      run: flake8 ${{ inputs.src }} ${{ inputs.options }}
